<h1>Dice Roll</h1>

<form action="https://didactic-orbit-4j464ww4gqj379x5.github.dev/????">
  <label for="num_dice">Number of dice to roll?</label>
  <input type="text" id="num_dice" name="dice">

  <label for="num_sides">How many sides per die?</label>
  <input type="text" id="num_sides" name="sides">

  <button>Roll!</button>

</form>
